
<section>
        <div class="search-container">
            <div class="search-box box">
                <label class="label-text">Search</label>
                <svg class="search-icon icon" width="15" height="15">
                    <use href="./sprite.svg#icon-search"></use>
                  </svg>
                 <input class="search-input border">
            </div>
           <div class="time-box box">
                <label class="label-text">Time</label>
                <select class="time border"></select>
                <svg class="left-icon icon" width="15" height="15">
                    <use href="./sprite.svg#icon-left"></use>
                  </svg>
        
           </div>
            <div class="area-box box">
                <label class="label-text">Area</label>
                <select class="area border"></select>
                <svg class="left-icon icon" width="15" height="15">
                    <use href="./sprite.svg#icon-left"></use>
                  </svg>
            </div>
            <div class="ingredients-box box">
                <label class="label-text">Ingredients</label>
                <select class="ingredient border"></select>
                <svg class="left-icon icon" width="15" height="15">
                    <use href="./sprite.svg#icon-left"></use>
                  </svg>
            </div>
         <button class="reset-button label-text">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                <path d="M12 4L4 12" stroke="#9BB537" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M4 4L12 12" stroke="#9BB537" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            Reset the filter</button>   
        </div>
        
</section>



