.favourites-hero-container {
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  overflow: hidden;
  background-color: #be832a;
  background-image: url(../img/favourites-hero/mobile/mobile-hero.jpg),
    lightgray -320.331px -587.376px / 299.398% 241.458% no-repeat;

  width: 335px;
  height: 516px;
}

@media screen and (min-width: 768px) {
  .favourites-hero-container {
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    overflow: hidden;
    background-color: #be832a;
    background: url(../img/favourites-hero/tablet/tablet-hero.jpg),
      lightgray -108px -637.376px / 141.193% 349.979% no-repeat;

    width: 704px;
    height: 356px;
  }
}

@media screen and (min-width: 1280px) {
  .favourites-hero-container {
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    overflow: hidden;
    background-color: #be832a;
    background-image: url(../img/favourites-hero/desctop/desctop-hero.jpg),
      lightgray 0px -682.376px / 100% 380.258% no-repeat;

    width: 1080px;
    height: 356px;
  }
}
