.img-dish {
    width: 80px;
    border-radius: 10px;
}


.popular-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.name-popular {
    /* font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.16; */
    font-size: 24px;
    /* margin-left: 100px; */
}

@media screen and (max-width: 768px) {
    .name-popular {}
}

.popular-recipe-item {
    display: flex;
    flex-direction: row;
}


.name-dish {}

.description-dish {
    padding-top: 10px;
    /* white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis; */

}

.description-dish {
    font-size: 10px;
    line-height: 1.4;
    width: 300px;
}

@media screen and (max-width:768px) {
    .description-dish {
        width: 200px;

    }
}

.div-popular-list {
    display: flex;
    margin-left: 10px;
    flex-wrap: wrap;
}

@media screen and (min-width:767px) {

    .div-popular-list {
        margin-left: 10px;
        display: flex;
        flex-direction: column;
    }
}