img {}

.img-dish {
    width: 80px;
    border-radius: 10px;
}




.name-popular {
    /* font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.16; */
    margin-bottom: 32px;
    /* margin-left: 100px; */
}

@media screen and (max-width: 768px) {
    .name-popular {}
}

.popular-recipe-item {
    margin-bottom: 30px;
}

@media screen and (max-width:767px) {
    .popular-recipe-item {
        display: flex;
    }

}


@media screen and (min-width:120px) {
    .popular-recipe-item {
        display: flex;
        flex-direction: row;
    }
}

.name-dish {}

.description-dish {
    padding-top: 10px;
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

@media screen and (min-width:768px) {
    .description-dish {}
}

.div-popular-list {
    display: flex;
    margin-left: 10px;
    flex-wrap: wrap;
}

@media screen and (min-width:767px) {

    .div-popular-list {
        margin-left: 10px;
        display: flex;
        flex-direction: column;
    }
}